
<div matDialogTitle>
    <h1>Employee form</h1>
 </div>
 
 <form [formGroup]="empform">  
   <div matDialogContent>
      <div class="row">
         <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput type="number" placeholder="ID" formControlName="emp_id">
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name">
         </mat-form-field>
       </div> 
       <div class="row">
           <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="text" placeholder="Email" formControlName="email">
           </mat-form-field>
           <mat-form-field appearance="outline">
              <mat-label>Age</mat-label>
              <input matInput type="number"  placeholder="Name" formControlName="age">
            </mat-form-field>
        </div>  
    </div>
</form>   
<div mat-dialog-actions class="action">
    <div >
   <button mat-raised-button  class="Button" type="submit" [mat-dialog-close] ="false">Cancel </button>
   <button mat-raised-button color="primary" (click)="onFormSubmit()">{{data?'Update':'Save'}}</button>
   </div>
</div>



